.sidebar{
    width: var(--width-of-sidebar);
    height: 100%;
    position: fixed;
    background-color: var(--Dark-Red-Secondary);
    color: white;
}

.logo{
    text-align: center;
}

img{
    width: 250px;
    height: 59px;
    left: 40px;
    top: 50px;
    margin-top: 50px;
}
p{
    font-size: 22px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

li:hover{
    color: #E86060;
}

.navegation-bar{
    padding-left: 20px;
}